#header img,#banner img{
    width: 90rem;
}

/* 中间总体布局样式 */
#container{
    width: 90rem;
    height: 90rem;
    background-color: #B6D0FA;
    display: flex;
    justify-content:center;
    align-items:center;
}
/* 主体内容样式 */
#main{
    width: 70rem;
    height: 79rem;
    background-color: #FFFFFF;
    border-radius:2rem;
    border: 0.5rem solid #00116E;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
/* 第一行姓名栏 */
#name{
    width: 70rem;
    height: 9rem;
}
.content{
    width: 70rem;
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.content_left{
    width: 25rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content_left_l{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.content_left_r{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.content_right{
    width: 40rem;
    height: 5rem;
    background-color:white; 
    color: #EB6A2D;
    font-size: 3rem;
}
.line{
    width: 70rem;
    height: 1rem;
    display: flex;
    justify-content: center;
}
.pic_line{
    width: 60rem;
    height: 1rem;
}
.main_2{
    width: 70rem;
    height: 9rem;
}
.examnumber_left{
    width: 25rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
/* 总分栏 */
#score{
    width: 70rem;
    height: 9rem;
}
.score_left_l{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.score_left_r{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.score_right{
    width: 40rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}
.score_right_l{
    width: 12rem;
    height: 5rem;
    font-family: 'tiao';
    font-size: 3rem;
    color: #0B2B69;
    line-height: 5rem;
}
.score_right_r{
    width: 15rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
}
/* 科目栏 阅读栏*/
#subject,#reading{
    width: 70rem;
    height: 9rem;
}
/* 写作栏 */
#writing{
    width: 70rem;
    height: 10rem;
}
#writing_right_l{
    width: 18rem;
    height: 5rem;
    font-family: 'tiao';
    font-size: 3rem;
    color: #0B2B69;
    line-height: 5rem;
}
#writing_right_r{
    width: 15rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
}
#pic{
    width: 70rem;
    height: 18rem;
}
#pic_line{
    width: 70rem;
    height: 11rem;
    display: flex;
    justify-content: space-around ; 
    align-items: flex-end;
}
.pic_line2{
    width: 40rem;
    height: 1rem;
}
.ink{
    width: 5rem;
    height: 5rem;
}
#footer{
    width: 90rem;
    height: 9rem;
    background-color: #B6D0FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_content{
    width: 50rem;
    height: 5rem;
    font-size: 3rem;
    text-align:center;
    color: #2B58AF;
}
   @font-face {
	font-family: 'tiao';     
	src: url('../tiao/tiao.eot'); 
	src: url('../tiao/tiao.eot?#iefix') format('embedded-opentype'), 
        url('../tiao/tiao.woff') format('woff'), 
        url('../tiao/tiao.ttf')  format('truetype'), 
        url('../tiao/tiao.svg#YourWebFontName') format('svg'); 
        font-weight: bold;
        font-style: normal;
}
 

   