.img1{
    width: 90rem;
}
.center{
    width: 90rem;
    height: 90rem;
    background-color: #B6D0FA;
    display: flex;
    justify-content:center;
    align-items:center;
}
.center_main{
    width: 70rem;
    height: 79rem;
    background-color: #FFFFFF;
    border-radius:2rem;
    border: 0.5rem solid #00116E;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
.main_1{
    width: 70rem;
    height: 9rem;
}
.top1{
    width: 70rem;
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.t1_l{
    width: 25rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.t1_ll{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.t1_lr{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.t1_r{
    width: 40rem;
    height: 5rem;
    background-color:white; 
    color: #EB6A2D;
    font-size: 3rem;
}
.bottom1{
    width: 70rem;
    height: 1rem;
    display: flex;
    justify-content: center;
}
.img2{
    width: 60rem;
    height: 1rem;
}
.main_2{
    width: 70rem;
    height: 9rem;
}
.t2_l{
    width: 25rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.main_3{
    width: 70rem;
    height: 9rem;
}
.t3_ll{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.t3_lr{
    width: 7rem;
    height: 5rem;
    font-family: 'tiao';
    color: #0B2B69;
    font-size: 4rem;
    text-align: right;
}
.t3_r{
    width: 40rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}
.t3_rl{
    width: 12rem;
    height: 5rem;
    font-family: 'tiao';
    font-size: 3rem;
    color: #0B2B69;
    line-height: 5rem;
}
.t3_rr{
    width: 15rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
}
.main_4{
    width: 70rem;
    height: 9rem;
}
.main_5{
    width: 70rem;
    height: 9rem;
}
.main_6{
    width: 70rem;
    height: 10rem;
}
.t6_rl{
    width: 18rem;
    height: 5rem;
    font-family: 'tiao';
    font-size: 3rem;
    color: #0B2B69;
    line-height: 5rem;
}
.t6_rr{
    width: 15rem;
    height: 5rem;
    color: #EB6A2D;
    font-size: 3rem;
}
.main_7{
    width: 70rem;
    height: 18rem;
}
.bottom2{
    width: 70rem;
    height: 11rem;
    display: flex;
    justify-content: space-around ; 
    align-items: flex-end;
}
.img3{
    width: 40rem;
    height: 1rem;
}
.imgmo{
    width: 5rem;
    height: 5rem;
}
.bottom{
    width: 90rem;
    height: 9rem;
    background-color: #B6D0FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_main{
    width: 50rem;
    height: 5rem;
    font-size: 3rem;
    text-align:center;
    color: #2B58AF;
}
   @font-face {
	font-family: 'tiao';     
	src: url('../tiao/tiao.eot'); 
	src: url('../tiao/tiao.eot?#iefix') format('embedded-opentype'), 
        url('../tiao/tiao.woff') format('woff'), 
        url('../tiao/tiao.ttf')  format('truetype'), 
        url('../tiao/tiao.svg#YourWebFontName') format('svg'); 
        font-weight: bold;
        font-style: normal;
}
 

   